<div class="row mt-4">
    <div class="col-md-6 mx-auto text-center">
        <a href="#"><img src="/img/logo.png" alt="" class="logo"></a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-5 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Reset Password</h3>
            <p class="text-center">Enter your email address below and we'll send you a link to reset your password.</p>
            <form action="/users/login" method="post">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send Email</button>
            </form>
        </div>

        <p class="text-center mt-4">Remember your password? &nbsp;<a href="/users/login">Sign In</a></p>
    </div>
</div>